# Sanal ortam klasörü
myenv/
venv/

# SQLite veritabanı
db.sqlite3

# __pycache__ ve diğer geçici Python dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode veya IDE dosyaları
.vscode/
.idea/

# Ortam değişkenleri dosyası (eğer varsa)
.myenv
