{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block title %} Anasayfa {% endblock %}

{% block content %}


<section class="hero-section">
    <div class="hero-content">
        <h1>Evimizden, Sofranıza!</h1>
        <p>Evri̇m'in mutfağından çıkan bu lezzetler sağlığınıza ve sofranıza çok yakışacak.</p>
        <a href="{% url 'product' %}" class="cta-button">Şimdi Alışverişe Başla</a>
    </div>
</section>

<section class="featured-products">
    <h2>Öne Çıkan Ürünler</h2>
    <div class="product-grid">
        {% for product in featured_products %}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} TL</p>
            <a href="{% url 'product_detail' product.slug %}" class="btn">Detay</a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="category-section">
    <h2>Kategoriler</h2>
    <div class="category-grid">
        {% for category in categories %}
        <a href="{% url 'product_by_category' category.slug %}" class="category-card">
            <div class="category-name">{{ category.name }}</div>
        </a>
        {% empty %}
        <p>Hiç kategori eklenmemiş.</p>
        {% endfor %}
    </div>
</section>

<section class="about-us-section">
    <h2>Evrim Kimdir?</h2>
    <p>{{ about_us_content }}</p>
</section>


{% endblock %}

{% block js %}
{% endblock %}